@model USSEScoreboard.Models.CommitmentViewModels.ListCommitmentsViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>My Commitments <span class="small">(<a href="/Commitments">View All</a>)</span></h2> 

<div class="container">
    <a asp-action="Create" class="btn btn-primary">New Commitment</a>
    @if (Model.IsExpenses)
    {
        <a class="btn btn-success" asp-action="ToggleExpenses">Toggle Expenses</a>
    }
    else
    {
        <a class="btn btn-warning" asp-action="ToggleExpenses">Toggle Expenses</a>
    }
    @if (Model.IsCRM)
    {
        <a class="btn btn-success" asp-action="ToggleCRM">Toggle CRM</a>
    }
    else
    {
        <a class="btn btn-warning" asp-action="ToggleCRM">Toggle CRM</a>
    }
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Title</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Commitments)
            {
                <tr>
                    <td>@item.DateCreated.ToString("d")</td>
                    <td>@item.Title</td>
                    <td>@item.UserProfile.FullName</td>
                    <td>@item.Status</td>
                    <td>
                        @if (@item.Status == CommitmentStatus.Active)
                        {

                            <a asp-action="Complete" asp-route-id="@item.Id" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mark as Complete</a>
                        }
                        else
                        {
                            <button disabled class="btn btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mark as Complete</button>
                        }
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

