@model IEnumerable<USSEScoreboard.Models.ScoreEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekEnding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @item.UserProfile.FullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @item.WeekEnding.ToString("D")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScoreEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScoreEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScoreEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
