@model IEnumerable<USSEScoreboard.Models.Wig>

@{
    ViewData["Title"] = "Index";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/evangelist.js"></script>
    <script src="~/js/wigCharts.js"></script>
</head>


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.DateCreated.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="community_actual_metric" style="width: 900px; height: 500px;"></div>
<div id="ascend_actual_metric" style="width: 900px; height: 500px;"></div>
<div id="weeks_metric" style="width: 900px; height: 500px;"></div>
