@model Scoreboard.Website.Models.Highlight

@{
    ViewData["Title"] = "Details";
}

<link href="~/lib/summernote/dist/summernote.css" rel="stylesheet">

<div class="panel panel-primary">
    <div class="panel-heading">
        Highlights for @Model.UserProfile.FullName @Model.DateStart.ToString("D") -> @Model.DateEnd.ToString("D")
    </div>
    <div class="panel-body">
        @Html.Raw(Model.Body)
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.HighlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="~/lib/summernote/dist/summernote.min.js"></script>
    <script>
            //$(document).ready(function() {
            //    $('#Body').summernote({
            //        height: 300
            //    });
            //});
    </script>

}