@model IEnumerable<USSEScoreboard.Models.ScoreboardEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScoreboardEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScoreboardEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScoreboardEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
