@model IEnumerable<USSEScoreboard.Models.GlobalScoreEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Track Progress</h2>
@if (Context.Request.Query["msg"] == "reset")
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> CRM and Expenses Reeset for all users.
    </div>
}
@if (Context.Request.Query["msg"] == "archived")
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Completed Commitments Have Been Archived
    </div>
}
@if (Context.Request.Query["msg"] == "resetfri")
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> FRI has been reset for all users.
    </div>
}
<div class="container">
    <a asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Track New Item</a>
    <a asp-action="ResetCRMExpenses" class="btn btn-primary"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset CRM &amp; Expenses</a>
    <a asp-action="ResetFRI" class="btn btn-primary"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset FRI</a>
    <a asp-action="ArchiveCommits" class="btn btn-primary"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Archive Completed Commits</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlobalScoreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFrameTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekEnding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalScoreType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFrameTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekEnding)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GlobalScoreEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GlobalScoreEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GlobalScoreEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
