@model IEnumerable<USSEScoreboard.Models.Highlight>

@{
    ViewData["Title"] = "Index";
}

<h2>Highlights</h2>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Time Period
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.HighlightId">@item.DateStart -> @item.DateEnd</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HighlightId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HighlightId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HighlightId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
