@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header">
    <h1>SE Scoreboard <small>Do... or do not. There is no try.</small></h1>
</div>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    //Show Dashboard if Logged In
    <div class="container">
        <div class="col-md-2">
            <img src="~/images/yoda.png" width="160" />
        </div>
        <div class="col-md-10">
            <!-- start table -->
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="border-top: 1px solid #fff !important; border-left: 1px solid #fff !important;">&nbsp;</th>
                        <th class="text-center">Weekly Tasks</th>
                        <th class="text-center">CRM</th>
                        <th class="text-center">Expenses</th>
                        <th class="text-center">Presentations</th>
                        <th class="text-center">Ascend Working</th>
                    </tr>
                </thead>
                @* Start TE Table *@

                @foreach (UserScore UserScore in ViewBag.Team)
                {
                    <tr>
                        <td width="20%">@UserScore.FullName</td>
                        <td width="16%" class="text-center">
                            <a asp-controller="Commitments" asp-action="SearchByUser" asp-route-id="@UserScore.UserProfileId" class="btn btn-primary btn-xs">
                                @UserScore.CommitCompleted
                                of
                                @UserScore.CommitTotal
                            </a>
                        </td>
                        <td class="text-center" width="16%"> 
                            @if (UserScore.IsCRM)
                            {
                                <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button>
                            }                        
                        </td>
                        <td class="text-center" width="16%">
                            @if (UserScore.IsExpenses)
                            {
                                <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></button>
                            }
                            else
                            {
                                <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button>
                            } 
                        </td>
                        <td width="16%" class="text-center"><a href="#" class="badge">@UserScore.TotalPresentations</a></td>
                        <td width="16%" class="text-center"><a href="#" class="badge">@UserScore.TotalAscend</a></td>
                    </tr>
                }

                @* // End TE Table *@
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center warning"><span style="font-weight:bold;">Totals</span></td>
                    <td class="text-center warning"><span class="badge">@ViewBag.TotalPresentations</span></td>
                    <td class="text-center warning"><span class="badge">@ViewBag.TotalAscend</span></td>
                </tr>
            </table>
            <!-- end table -->
        </div>
    </div>

}
else
{
    //Not Logged In Do not Show
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        Please <a asp-controller="Account" asp-action="Login">login</a> to access the Dashboard
    </div>
}


